name: Release Please

on:
    push:
        branches:
            - main

permissions:
    contents: write
    issues: write
    pull-requests: write
    id-token: write

jobs:
    release-please:
        runs-on: ubuntu-latest
        steps:
            # - name: Fetch ephemeral GitHub token
            #   id: fetch-ephemeral-token
            #   uses: elastic/ci-gh-actions/fetch-github-token@v1.0.0
            #   with:
            #       vault-instance: "ci-prod"

            - uses: googleapis/release-please-action@v4
              id: release
              with:
                  token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
                  config-file: .github/release-please-config.json
                  manifest-file: .github/.release-please-manifest.json

            - name: Checkout Code
              if: ${{ steps.release.outputs.release_created }}
              uses: actions/checkout@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Release
              if: ${{ steps.release.outputs.release_created }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  ./.github/scripts/release.sh \
                    "${{ steps.release.outputs.version }}" \
                    "${{ steps.release.outputs.body }}"

            - name: Checkout main
              if: ${{ steps.release.outputs.release_created }}
              uses: actions/checkout@v4
              with:
                  ref: refs/heads/main
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Bump Version
              if: ${{ steps.release.outputs.release_created }}
              id: bump
              run: |
                  ./.github/scripts/bump-version.sh \
                    "${{ steps.release.outputs.major }}" \
                    "${{ steps.release.outputs.minor }}" \
                    "${{ steps.release.outputs.patch }}"

            - name: Create Pull Request for Version Bump
              if: ${{ steps.release.outputs.release_created }}
              uses: peter-evans/create-pull-request@v6
              with:
                  token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
                  commit-message: "chore: bump version to ${{ steps.bump.outputs.next_version }}"
                  branch: "chore/bump-snapshot-${{ steps.bump.outputs.next_version }}"
                  delete-branch: true
                  title: "chore: bump version to ${{ steps.bump.outputs.next_version }}"
                  body: |
                      Bumps version to ${{ steps.bump.outputs.next_version }} after release of v${{ steps.release.outputs.version }}.

                      Auto-generated by GitHub Actions.
                  base: main
                  committer: 'Elastic Machine <elasticmachine@users.noreply.github.com>'
                  author: 'Elastic Machine <elasticmachine@users.noreply.github.com>'
